<!-- https://www.w3schools.com/bootstrap/bootstrap_forms.asp -->
<!-- http://flask.pocoo.org/docs/0.12/patterns/wtforms/ -->
<!-- https://gist.github.com/bearz/7394681 -->
<!-- https://github.com/auzigog/jinja-bootstrap -->
<!-- https://gist.github.com/ProximaMonkey/2374875 -->

<!-- Render a vertical bootstrap 3 form field -->
{% macro render_field(field) -%}

	{% set with_label = kwargs.pop('with_label', False) %}
	{% set placeholder = kwargs.pop('placeholder', field.label.text) %}
	{% set class_ = kwargs.pop('class_', '') %}
	
	<div class="form-group">
	
		{% if with_label and field.type not in ['CSRFTokenField', 'HiddenField', 'BooleanField'] %}
			{% if field.flags.required %}
				<div style="display:inline-block; color: red">*</div>
				<label for="{{ field.id }}">{{ field.label.text }}</label>
			{% else %}
				<label for="{{ field.id }}">{{ field.label.text }}</label>
			{% endif %}
		{% endif %}

		{% if field.type == 'BooleanField' %}
			<div class="checkbox">
				<label>
					{{ field(class_=class_, **kwargs) }}
					{{ field.label.text|safe }}
				</label>
			</div>
		{% else %}

			{% if field.type in ('TextField', 'TextAreaField', 'PasswordField', 'IntegerField', 'StringField') %}
			
				{% set class_ = class_ + ' input-xlarge form-control' %}
			
			{% endif %}
			
			{% if field.type == 'SelectField' %}
			
				{{ field(class_="form-control", **kwargs) }}
			
			{% elif field.type == 'FileField' %}
			
				{{ field(style="color: green") }}
			
			{% else %}
			
				{% if with_label %}
					{{ field(class_=class_, **kwargs) }}
				{% else %}
					{{ field(class_=class_, placeholder=placeholder, **kwargs) }}
				{% endif %}
			
			{% endif %}
		
		{% endif %}

	</div>
	
{%- endmacro %}

<!-- Render all form errors -->
{% macro render_errors(form) -%}

	{% if form.errors %}
		{% for field_name, field_errors in form.errors|dictsort if field_errors %}
			{% for error in field_errors %}
				<p style="color: red;">{{ form[field_name].label }}: {{ error }}</p>
			{% endfor %}
		{% endfor %}
	{% endif %}
	
{%- endmacro %}
